@font-face {
    font-family: 'BookkGothic-Bd';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkGothic-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
body {
    margin: 0;
    height: 100%;
    font: 400 16px 'BookkGothic-Bd', sans-serif;
    color: #e0e0e0; 
    background-color: #181818; 
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body, th, td, div, p, li {
    word-break: keep-all;
}

$main-font-color: #e0e0e0; 
$second-font-color: #b0b0b0; 
$theme-color: #d8d8d8; 

p, li {
    color: $main-font-color;
}

a:link {
    color: #ffffff;
}
a:visited {
    color: #a2a2a2; 
}
a:hover {
    color: #FFAA00; /* 호버 시 색상 */
}

.post-content {
    line-height: 2;
}

blockquote {
    font-family: 'BookkGothic-Bd', sans-serif;
    background: #1e1e1e; 
    color: $second-font-color;
    margin:0;
    padding: 1px 0px 1px 8px;
    border-left: 4px solid #444444;
    p {
        line-height: 2;
        color: $second-font-color;
    }
}

.hide {
    display: none;
}

.center {
    text-align: center;
}

.language-html table {
    background: transparent;
    margin: 0;
}

.language-html td {
    padding: 0;
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: $main-font-color;
}

h1 {
    font-size: 3.3rem;
    margin: 0px;
    border-bottom: 1px solid $theme-color;
}

h2 {
    font-size: 1.8em;
    border-bottom: 1px solid #333333; 
}

h3 {
    font-size: 1.6em;
    font-style: italic;
}

h4 {
    font-size: 1.4em;
    padding-left: 5px;
    font-style: italic;
}

h5 {
    font-size: 1.2em;
    padding-left: 10px;
    font-style: italic;
}

h6 {
    font-size: 1.0em;
    padding-left: 15px;
    font-weight: bold;
    font-style: italic;
}

.post-content .external-link:after {
    content: url("/resource/icon/external-link.svg");
}

.post-content .tagged-link:before {
    content:"#";
}

.link-checked {
    color: #FFFFFF;
    background-color: #BA55D3;
    border-radius: 3px;

    &:visited {
        color: #FFFFFF;
    }
}

mark {
    color: #e0f7fa;
    background-color: #00796b;
    border-radius: 3px;
}

.error-link:after {
    font-style: italic;
    color: red;
}

.link-404:after {
    content: "[404 Not Found]";
}

.link-400:after {
    content: "[400 Bad Request]";
}

.link-408:after {
    content: "[408 Request Timeout]";
}

.link-500:after {
    content: "[500 Internal Server Error]";
}

.post-item:hover {
    background-color: #333333;

video {
    max-width: 100%;
}

sup[role=doc-noteref] a.footnote {
    position: relative;
    padding-bottom: 1em;
    text-decoration: none;

    &:before {
        content: "[";
    }
    &:after {
        content: "]";
    }
    &:hover {
        color: #ffffff;

        & + .tooltiptext {
            color: rgb(255, 255, 255);
        }
    }

    & + .tooltiptext {
        display: none;
        max-width: 800px;
        min-width: 300px;
        background-color: #1e1e1e; 
        color: $main-font-color;
        text-align: left;
        border-radius: 7px;
        border: 1px solid #ffffff;
        padding: 0px 12px 0px 12px;
        position: absolute;
        bottom: 1em;
        z-index: 1;
    }
}
}