.wrapper {
    margin: 0 auto;
}
@media (max-width: 1120px) {
    .wrapper {
    }
}

@media (min-width: 800px) {
  body {
    width: 800px;
    margin: auto;
    background-color: #181818; 
    color: #E0E0E0; 
  }
}

.page-content {
    background:#181818; 
    img {
        max-width:100%;
    }
}

.post {
    overflow-x: auto;
    padding: 5px;
    color: #E0E0E0; 
}

@media (max-width: 1120px) {
    .page-content .wrapper:before {
        display: none;
    }
}

.footer {
    text-align:center;
    background-color: #181818; 
    color: #E0E0E0; 

ul.tag-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
        float: left;
    }

    li a {
        padding-right: 5px;
        text-decoration: none;
        color: #ffffff;
    }
}

.post-link {
    text-decoration: none;
    color: #ffffff; 
}

.no-text-deco {
    a {
        text-decoration: none;
        color: #ffffff; 
    }
}

.section-nav {
  background-color: #1E1E1E; 
  margin: 5px 0;
  padding: 10px 30px;
  border: 1px solid #444444;
  border-radius: 3px;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.pagination {
    text-align:center;

    a {
        font-size: 1em;
        margin: 2px;
        padding: 2px;
        text-decoration: none;
        border-radius: 10px;
        border: 0px solid $theme-color;
        background-color: #ffffff; 
        color: #FFFFFF;
    }

    a.active {
        border: 0px solid transparent;
        background-color: transparent;
        color: #E0E0E0; 
    }
}

.pagination li {
    display: inline-block;
}

.tag-list li {
    display: inline-block;
}

.post-excerpt {
    color: #E0E0E0; 
}

.post-sub-document {
    color: #E0E0E0; 
}
}