/* 문서 본문에 포함되는 마크다운 테이블의 스타일. */

.post {
    table {
        border-collapse: collapse;
        border-spacing: 0;
        border-color: #444444;
        margin-bottom: 10px;

        td, th {
            border: 1px solid $third-font-color;
            padding: 5px 5px;
        }
        th {
            font-weight:normal;
            color: #e6e6e6;
            background: #181818;
        }
        tr:nth-child(even) {
            background-color: #202020;
        }
        tr:hover {
            background: #333333;
        }
    }
}

.post {
    li:hover {
        background: #333333;
    }
    li > ul > li:hover {
        background: #2c2c2c;
    }
    li > ul > li > ul > li:hover {
        background: #262626;
    }
    li > ul > li > ul > li > ul > li:hover {
        background: #202020;
    }
    li > ul > li > ul > li > ul > li > ul > li:hover {
        background: #1a1a1a
    }
}


